
@import "fonts";

* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;

  }
  
  .container {
     width: 100%;
    //  padding: 0 15px;
     margin: 0 auto;
  }
  
  .error-message {
    background-color: red;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-family: $ubuntu;
  }


  .btn {
    display: inline-block;
    border-radius: 5px;
    color: white;
    font-family: $ubuntu;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    &:disabled {
      background: repeating-linear-gradient(
                45deg,
                $color-grey,
                $color-grey 10px,
                $color-pink 10px,
                $color-pink 20px
              );
    }
    filter: brightness(80%);
}


.loading-msg {
  margin-left: 37%;
  padding: 30px;
  color: white;
  font-size: 36px;
}