@import "../../styles/globalStyles.scss";


.nav__container {
    display: flex;
    justify-content: space-between;
    background-color: $color-grey;
    padding: 20px 0 15px 0;
}

.nav__text {
    margin: auto 2%;
    color: white;
    font-size: 15px;
    @include tablet {
        margin: auto 6%;
    }
}

.nav__link-list {
    margin-left: 7px;
    @include tablet {
        margin-left: 20px;
    }
}


a.nav__link-in {
    @include tablet {
        &::after {
            color: white;
            content: "Start";
            font-size: 18px;
            position: relative;
            bottom: 30%;
        }
    }
}

a.nav__link-up {
    @include tablet {
        &::after {
            color: white;
            content: "Zapisz się";
            font-size: 18px;
            position: relative;
            bottom: 30%;
        }
    }
}

a.nav__link-main {
    @include tablet {
        &::after {
            color: white;
            content: "Katalog";
            font-size: 18px;
            position: relative;
            bottom: 30%;
            right: 2%
        }
    }
}


a.nav__link-acc {
    @include tablet {
        &::after {
            color: white;
            content: "Twoje konto";
            font-size: 18px;
            position: relative;
            bottom: 30%;
        }
    }
}

a.nav__link-admin {
    margin-left: 20px;
    &::after {
        color: white;
        content: "Panel administratora";
        font-size: 18px;
        position: relative;
        bottom: 30%;
    }
}

svg.nav__icon {
    color: $color-pink;
    font-size: 32px;
    margin: 0 7px;
    @include tablet {
        margin: 0 20px;
    }
}


