@import "../../styles/globalStyles.scss";

.admin {
    background-color: $color-pink;
    padding-top: 10px;

    &--title {
        display: block;
        margin: 10px auto;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }


    &--container {
        width: 90%;
        margin: 0 auto;
        background-color: $color-grey;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
}

