@import "../../styles/globalStyles.scss";

.logout--btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0 7px;
    @include tablet {
        margin: 0 20px;
        &::after {
            font-family: $ubuntu;
            color: white;
            content: "Wyloguj się";
            font-size: 18px;
            position: relative;
            bottom: 9px;
            left: 11px;
        }
    }
}

.logout--icon {
    font-size: 32px;
    color: $color-pink;
}